:root{
  --royalDarkBlue :#0a2463 ;
  --blueCrayola:#3e92cc;
  --white:#fffaff;
  --cerise:#d8315b;
  --black :#1e1b18;
  --font:rgb(50, 50, 50);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-image: linear-gradient(-90deg, var(--blueCrayola), var(--royalDarkBlue));
}