.wrapper{
    padding-top: 200px;
}
.title{
    font-size: 60px;
    padding-bottom: 20px;
    margin-left: 350px;
    display: inline;
}
.title_link{
    text-decoration: none;
    color: var(--cerise);
    transition: 0.4s;
    cursor: pointer;
}
.Link{
    text-decoration: none;
    transition: 0.3s;
}
.button{
    width: 150px;
    height: 70px;
    border: none;
    font-size: 15px;
    margin-left: 450px;
    margin-top: 50px;
    background-color: var(--blueCrayola);
    transition: 0.3s;
}
.button:hover{
    background-color: aliceblue;
    border: 2px solid var(--cerise);
    color: var(--cerise);
}
.title_link:hover{
    color: var(--blueCrayola);
    cursor: pointer;
}
